* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?q=80&w=1305&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

main {
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;

}

h1 {
    font-size: 20px;
    /* background-color: palevioletred; */
    padding: 10px 20px;
    border-radius: 10px;
}

button {
    padding: 5px 15px;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    color: white;
}

button:active {
    scale: 0.85;
}