*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}
.card p span{
    font-weight: 600;
    color: royalblue;
}
.card{
    /* height: 300px; */
    width: 450px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
}
.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(184,184,184);
}
.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;


}
.bottom{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 30px;
    font-family: monospace;
}
.bottom button{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}
.bottom button:active{
 scale: 0.95;
}