:root{
    --pri:#F8F4E1;
    --sec:#371702;
    --tri1:#FEBA17;
    --tri2:#74512D;
}


@font-face {
    font-family: aeonik;
    font-size: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonic
    k;
    font-size: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-size: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: aeonik;
    color: var(--pri);
}
html,
body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}
.elem{
    background-color: #FEBA17;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 25px;
    right: 5%;
}
.elem:active{
    scale:0.97;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: #371702;
    padding: 40px;
    font-size: 30px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10%;
    padding: 8px 15px;
    border: none;
    font-size: 15px;
    font-weight:500;
    cursor: pointer;
}
.back:active{
    scale: 0.7;
}