* {
    padding: 0;
    margin: 0;
 box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    // background-color: black;
    color: white;

}

main {
    

    #first {
        width: 100%;
        height: 350px;
        background-image: url(https://images.unsplash.com/photo-1426543881949-cbd9a76740a4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y291cGxlJTIwcGhvdG98ZW58MHx8MHx8fDA%3D);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            color: white;
            font-style: italic;
            font-weight: 800;

        }

        i {
            font-size: 50px;
            color: white;
        }

        h6 {
            color: white;
            font-weight: 20;
        }
    }

    #second {
        width: auto;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.748);

        h1 {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        #upper {
            font-size: 100px;
            display: flex;
            justify-content: space-around;

        }
    }
}