*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#piyano{
     font-size: 100px;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    font-family: monospace;
    text-align: center;

}