*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    /* background-color: rgb(0, 153, 255); */
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 80%;
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #000;
    position: relative;
    background-color: burlywood;
}
#storiyan{
    height: 110px;
    width: 100%;
    /* background-color: red; */
    border-bottom:1px solid #dadada ;
    padding: 10px;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    /* background-color: blue; */
    border: 3px solid red;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
#full-screen{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* top: 0; */
    /* left: 0; */
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}