*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

main{
    width: 700px;
    height: auto;
    background-color: wheat;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    header{
        display: flex;
        justify-content: space-between;

        h1{
            font-size: 20px;
            margin: 25px;
            span{
                color: white;
            }
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            h3{
              font-size: 13px;
            }
        }
        button{
            margin: 25px;
            padding: 5px;
            padding-inline: 40px;
            border-radius: 15px;
        }
        
    }


    figure{
        width: 100%;
        height: 500px;
        background-image: url(
            https://images.unsplash.com/photo-1434389677669-e08b4cac3105?q=80&w=705&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
        );
        background-size: cover;
        object-fit: cover;
        background-position: center;

       .left{
          width: 300px;
          position: relative;
          top: 50%;
          left: 5%;
          font-weight: 800;

          h2{
            color: yellow;
            font-size: 20px;
          }
          h1{
            color: white;
            font-size: 45px;
          }
       }
       .right{
        width: 160px;
        position: relative;
        top: 30%;
        left: 65%;

        h2{
            font-size: 16px;
            font-weight: 500;
        }

       }
    }

    footer{
        display: flex;
            justify-content: space-around;
            align-items: center;
            background-color:rgba(16, 63, 63, 0.93);
        div{
           display:flex;

            img{
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 8px;

            }
        }
        button{
           padding: 8px;
            border-radius: 10px;
            margin: 10px;
        }
    }
}