*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  /* height: 100%; */
  background-color: black;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
main{
  position: relative;
}
section{
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}
#section-1 {
   nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 2.5rem;
   padding-top:3.5rem;

   .nav-elem:nth-child(2){
    i{
      color: red;
    }
   }

    svg{
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }
}
