.dock{
    display: flex;
    gap: 0.3rem;
    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translate(-50%);
    
    background-color: rgb(63,63,63,0.395);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);

 img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.icon{
    width: 2.75rem;
    padding: 0.65rem;
    border-radius: 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22,1);
}

.github,.cli{
    background-color: rgba(0, 0, 0, 0.549);
    border-radius: 40px;
}

.note{
    background:linear-gradient(to bottom, rgb(255,65,70),rgb(255,25,40));
}
.pdf{
    background:linear-gradient(to bottom,rgb(255,179,87),rgb(255,153,28))
}
.calendar,.mail{
    background: linear-gradient(to bottom,rgb(124,115,255),rgb(66,52,255));
}
.spotify{
    background: linear-gradient(to bottom, rgb(78,176,33),rgb(53,142,12));
}
.link{
    background: linear-gradient(to bottom,rgb(163,97,170),rgb(142,33,115));
}

.icon:hover{
    transform: scale(1.25) translateY(-20%) ;
}

.icon:hover + icon, .icon:has(+ .icon:hover){
          transform: scale(1.1) translateY(-10%);
}
}